@import "tailwindcss";

@theme {
    --color-primary: oklch(68.5% 0.169 237.323);
    --color-secondary: oklch(44.6% 0.043 257.281);
    --color-text: oklch(92.9% 0.013 255.508);
    --font-primary: "Baloo 2 Variable", "sans-serif";
}

html,
body {
    color-scheme: dark light;
    scroll-behavior: smooth;
}

body::selection {
    background-color: rgb(125, 198, 240);
    color: rgb(16, 32, 49);
}

/* Estilos para elementos con focus que usan color primario */
.focus-within\:ring-1:focus-within {
    --tw-ring-color: var(--p-primary) !important;
}

.focus-within\:shadow-lg:focus-within {
    --tw-shadow-color: var(--p-primary) !important;
}