---
import Layout from "@/layouts/Layout.astro";
import FavoritesSections from "@/components/ui/FavoritesSections";
import Landing from "@/components/Landing.astro";
const { isAuthenticated, userId } = Astro.locals.auth();
---

<Layout>
    <Landing
        slot="banner"
        title="Tus Favoritos"
        buttonPrincipal="¡Explora Tu Universo!"
    >
        <p slot="desc" class="text-lg sm:text-xl text-text/90 text-pretty">
            Gestiona y revive tus momentos favoritos con los personajes,
            localizaciones y episodios que más te apasionan.
        </p>
    </Landing>

    <div slot="main" class="w-full">
        <div class="pt-6" id="explorar"></div>
        <div class="flex flex-col min-h-[70vh] gap-12">
            <FavoritesSections
                client:load
                user={{ isLogin: isAuthenticated, userId: userId! }}
            />
        </div>
    </div>
</Layout>
