---
import Filtros from "@/components/Filtros";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Pagina de favoritos">
    <section slot="banner" class="pt-12">
        <article class="flex justify-between items-center">
            <a
                href="/"
                title="inicio de mi pagina"
                class="w-36 sm:w-40 h-auto pb-1"
            >
                <Icon
                    name="rick-logo"
                    title="rick and Morty"
                    class="size-full contrast-150 brightness-105 object-cover"
                />
            </a>
            <h1 class="text-white font-bold text-5xl w-10/12 text-center">
                Tus favoritos
            </h1>
        </article>
        <p class="text-slate-200 text-xl w-4/6 font-medium mt-8">
            Si entras como invitado tendr치s un limite de 10 favoritos por
            secci칩n, con un usuario registrado tendr치s un limite ilimitado de
            favoritos por secci칩n.
        </p>
    </section>
    <section slot="main" class="w-full mt-7 pt-4 *:space-y-14">
        <Filtros isFavorite client:load />
    </section>
</Layout>
