---
import Landing from "@/components/Landing.astro";
import Main from "@/components/Main.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <Landing
        slot="banner"
        title="Explora el Multiverso"
        buttonPrincipal="¡Explora Tu Universo!"
    >
        <div
            slot="desc"
            class="flex flex-col gap-4 text-lg sm:text-xl text-text/90 text-pretty"
        >
            <p>
                Sumérgete en el caótico y fascinante universo de Rick y Morty.
            </p>
            <p>
                Descubre personajes icónicos, localizaciones interdimensionales
                y aventuras que desafían la lógica.
            </p>
        </div>
    </Landing>

    <Main slot="main" />
</Layout>
