---
import Landing from "@/components/Landing.astro";
import Main from "@/components/Main.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div id="barra-progress"></div>
    <Landing slot="banner" />

    <Main slot="main" />
</Layout>

<style>
    #barra-progress {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 0%;
        height: 0.5rem;
        background: rgb(0, 195, 255);

        animation: progress auto linear;
        animation-timeline: scroll(root block);
    }

    @keyframes progress {
        from {
            width: 0%;
        }
        to {
            width: 100%;
        }
    }
</style>
