---
import Button from "./ui/Button";
import { IconVolverArriba, IcoRickAndMorty, IcoRow } from "assets/Icons";
const path = Astro.url.pathname;
---

<footer role="contentinfo" class="pb-4 text-white">
    <div class="flex items-center justify-between my-6">
        <a href="/" class="contrast-150 brightness-105">
            <IcoRickAndMorty className="h-full" />
        </a>
        <Button
            className="group"
            isLink={{ href: "/#explorar", title: "Ir a inicio" }}
        >
            <>
                {
                    path !== "/" && (
                        <IcoRow className="text-primary size-5 rotate-0 group-hover:-translate-x-1 transition-transform duration-300" />
                    )
                }
                <span class="text-base sm:text-sm">Volver a Explorar</span>
            </>
        </Button>
    </div>

    <div class="bg-white h-[1px] sm:h-[2px] rounded-full w-full"></div>

    <div class="flex justify-between items-center mt-2 sm:mt-8">
        <span class="text-sm">© 2025</span>
        <i class="not-italic flex space-x-2">
            <span
                class="text-xs sm:text-sm scale-125 leading-6 sm:leading-[1.6rem] select-none brightness-125 text-sky-400"
            >
                {`< >`}
            </span>
            <span class="">
                Desarrollado por
                <b class="text-sky-400 brightness-110 font-medium"
                    >Larry Ceballos</b
                >
            </span>
        </i>
    </div>
</footer>
