---
import { Icon } from "astro-icon/components";
---

<footer role="contentinfo" class="pb-4">
    <div class="flex items-center justify-between my-6 sm:mt-10 sm:mb-14">
        <Icon
            name="rick-logo"
            class="w-24 sm:w-36 h-auto contrast-150 brightness-105"
        />
        <div>
            <a
                href="#explorar"
                title="volver a arriba"
                class="flex items-center space-x-2"
            >
                <span class="text-base sm:text-lg">Volver arriba</span>
                <Icon
                    name="volver-arriba"
                    class="text-white text-xl sm:text-2xl"
                /></a
            >
        </div>
    </div>

    <div class="bg-white h-[1px] sm:h-[2px] rounded-full w-full"></div>

    <div class="flex justify-between items-center mt-2 sm:mt-8">
        <span class="text-sm">© 2025</span>
        <i class="not-italic flex space-x-2">
            <span
                class="text-xs sm:text-sm scale-125 leading-6 sm:leading-[1.6rem] select-none brightness-125 text-sky-400"
            >
                {`< >`}
            </span>
            <span>
                Desarrollado por
                <b class="text-sky-400 brightness-110 font-medium"
                    >Larry Ceballos</b
                >
            </span>
        </i>
    </div>
</footer>
