---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
---

<section
    id="banner"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 pt-12 h-fit md:h-screen"
>
    <article
        class="row-start-1 z-20 md:col-start-1 md:col-end-2 flex flex-col space-y-10 md:space-y-28"
    >
        <a href="/" title="inicio de mi pagina" class="w-36 sm:w-40 h-auto">
            <Icon
                name="rick-logo"
                title="rick and Morty"
                class="size-full contrast-150 brightness-105 object-cover"
            />
        </a>

        <div class="space-y-12">
            <h1
                class="text-white font-extrabold text-3xl inline-block md:text-4xl lg:text-6xl w-60 md:w-96 lg:w-[30rem] after:text-sky-500 after:content-['.'] after:absolute"
            >
                Vamos a nuestro universo
            </h1>

            <div class="flex space-x-4 *:text-nowrap">
                <a
                    href="/#explorar"
                    title="explorar"
                    class="bg-gradient-to-br flex items-center space-x-2 from-sky-400 to bg-sky-500 transition-all hover:shadow-lg hover:shadow-sky-500/50 hover:text-slate-300 px-4 py-1 rounded-3xl text-lg"
                >
                    <span>¡Explorar ahora!</span>
                </a>
                <a
                    href="#login"
                    title="iniciar sesión"
                    class="bg-gradient-to-br flex items-center space-x-2 from-slate-500 bg-gray-900 to-bg-slate-500 transition-all hover:shadow-lg hover:shadow-slate-500/50 hover:text-slate-300 px-4 py-1 rounded-3xl text-lg"
                >
                    <span>Iniciar sesión</span>
                </a>
            </div>
        </div>
        <div class="space-y-4 md:space-y-8 w-60 md:w-96 lg:w-[30rem] pb-4">
            <p class="text-sm sm:text-xl text-slate-100/90">
                Personajes, localizaciones, episodios y mucho más.
            </p>
            <p
                class="text-sky-400 brightness-125 text-xs md:text-lg capitalize"
            >
                Wubba Lubba Dub Dub!
            </p>
        </div>
    </article>
    <article
        class="row-start-1 col-span-1 md:col-span-2 flex flex-col space-y-10"
    >
        <div class="w-full flex flex-row-reverse">
            <a
                href="/favoritos"
                title="ir a favoritos"
                class="bg-gradient-to-br flex items-center space-x-2 from-sky-400 to bg-sky-500 transition-all hover:shadow-lg hover:shadow-sky-500/50 hover:text-slate-300 px-4 py-1 rounded-3xl"
            >
                <span><Icon name="heart" class="size-5" /></span>
                <span class="text-lg">Favoritos</span>
            </a>
        </div>
        <div class="w-full">
            <picture class="w-full block">
                <Image
                    id="fondo-rick"
                    loading="eager"
                    src="/fondo-rick.svg"
                    class="w-full h-[40vh] md:h-[80vh] object-cover object-left-bottom sm:object-center"
                    width={200}
                    height={200}
                    alt="rick de fondo"
                />
            </picture>
        </div>
    </article>
</section>
<style>
    #fondo-rick {
        mask-image: linear-gradient(rgb(15, 15, 15) 50%, transparent);
    }
</style>
