---
import type { Character, Location, Episode, Info } from "@/types/api";
import CardPersonajes from "@components/cards/CardPersonajes.astro";
import CardEpisodios from "@components/cards/CardEpisodios.astro";
import CardUbicaciones from "@components/cards/CardUbicaciones.astro";

// import Pagination from "@components/ui/Pagination.astro";
import type { tCache, tFiltersOptionSlug, tForm } from "@/types/filters";
import { sections } from "@/const/constantes";
import { fetchApi } from "@/services/gets";

interface Props {
    formData: tForm;
    allResults: tCache;
}
const { formData, allResults } = Astro.props;

const optionSection =
    formData.currentSection === "all"
        ? (Object.keys(sections).filter(
              (section) => section !== "all",
          ) as tFiltersOptionSlug[])
        : [formData.currentSection];
const fetchOptions = optionSection.map((section) =>
    fetchApi({ option: section, page: formData.page }),
);

try {
    console.log("iniciando fetch");
    const responses = await Promise.all(fetchOptions);

    responses.forEach((res) => {
        if (!res || !res.results) return;
        const key = res._option as keyof tCache;
        // Asignar el array de results, no todo el objeto
        if (key && allResults[key]) {
            allResults[key] = res;
        }
    });

    if (Object.values(allResults).every((arr) => arr.length === 0)) {
        throw new Error("No se obtuvieron resultados de la API.");
    }
} catch (e) {
    console.error("Error al pedir los datos:", e);
}

const searchTerm = formData.nameSearch.trim().toLowerCase();
const currentPage = formData.page;

const listSections = Object.entries(allResults).map(([key, val]) => {
    // Asegurar que val sea un array válido
    const { info, results } = val as Info<Location | Character | Episode>;
    const dataArray = Array.isArray(results) ? results : [];

    // Filtrar por búsqueda
    const filteredData = searchTerm
        ? dataArray.filter((v) =>
              v.name.trim().toLowerCase().includes(searchTerm),
          )
        : dataArray;
    // console.log(filteredData);

    // Calcular paginación
    const totalItems = info?.count || 0;
    const totalPages = info?.pages || 0;

    const next = info?.next || null;
    const prev = info?.prev || null;
    const currentPage = formData.page || 1;

    return {
        title: sections[key as keyof typeof sections],
        sectionKey: key,
        data: filteredData,
        currentPage,
        totalPages,
        totalItems,
        next,
        prev,
    };
});
---

{
    listSections?.map(
        ({ title, data, totalPages, sectionKey, totalItems, prev, next }) => {
            const isError = data.length === 0;
            if (isError) return null;
            return (
                <section class="pb-16 last:pb-8">
                    <div class="flex items-center gap-4 mb-2">
                        <h2 class="text-3xl font-black text-white capitalize">
                            {title}
                        </h2>
                        <div class="h-px flex-1 bg-gradient-to-r from-primary/50 to-transparent" />
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 py-6">
                        {data?.map((item) => {
                            switch (title) {
                                case "personajes":
                                    return (
                                        <CardPersonajes
                                            {...(item as Character)}
                                        />
                                    );
                                case "episodios":
                                    return (
                                        <CardEpisodios {...(item as Episode)} />
                                    );
                                case "ubicaciones":
                                    return (
                                        <CardUbicaciones
                                            {...(item as Location)}
                                        />
                                    );
                                default:
                                    return (
                                        <div class="text-white">
                                            {item.name}
                                        </div>
                                    );
                            }
                        })}
                    </div>

                    {/* Paginación */}
                </section>
            );
        },
    )
}
