---
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/baloo-2";
import Footer from "@/components/Footer.astro";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/rick-logo.svg" />
		<meta name="robots" content="*" />
		<meta name="keywords" content="astro, practica de jsx y react" />
		<meta
			name="description"
			content="Pagina para practicar react y peticiones a anime con jsx"
		/>
		<title>Rick and Morty - {title}</title>
		<meta
			name="description"
			content="Rick and Morty pagina para ver información de sus personajes, episodios, locaciones y mas..."
		/>
		<meta name="author" content="Larry Ceballos" />
		<meta name="theme-color" content="#000000" />
		<meta name="robots" content="index, follow" />
		<ClientRouter />
	</head>
	<body class="bg-black dark:bg-black *:px-6 sm:*:px-12 md:*:px-32">
		<header class="bg-[url('/stars.svg')] bg-cover contrast-125" id="home">
			<slot name="banner" />
		</header>
		<main id="explorar" class="min-h-screen">
			<slot name="main" />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		font-family: "Baloo 2 Variable", system-ui;
		color-scheme: dark light;
		scroll-behavior: smooth;
	}
	*::selection {
		background-color: rgb(125, 198, 240);
		color: rgb(16, 32, 49);
	}
	@media (min-width: 1377px) and (max-width: 1500px) {
		#filtros {
			align-items: center;
		}
	}
	@media (min-width: 917px) and (max-width: 1024px) {
		#filtros {
			align-items: center;
		}
	}
</style>
